<div class="form-group row pt-1 pb-1">
  <label class="col-3 col-md-2 col-form-label text-sm-left collapsible">月份</label>
  <div class="col-12 col-sm-7 col-lg-9 form-check content" id="month-content">
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="month_1" name="month[]" value="1">
      <label class="custom-control-label" for="month_1">一月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="month_2" name="month[]" value="2">
      <label class="custom-control-label" for="month_2">二月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="month_3" name="month[]" value="3">
      <label class="custom-control-label" for="month_3">三月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="month_4" name="month[]" value="4">
      <label class="custom-control-label" for="month_4">四月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="month_5" name="month[]" value="5">
      <label class="custom-control-label" for="month_5">五月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="month_6" name="month[]" value="6">
      <label class="custom-control-label" for="month_6">六月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="month_7" name="month[]" value="7">
      <label class="custom-control-label" for="month_7">七月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="month_8" name="month[]" value="8">
      <label class="custom-control-label" for="month_8">八月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="month_9" name="month[]" value="9">
      <label class="custom-control-label" for="month_9">九月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="month_10" name="month[]" value="10">
      <label class="custom-control-label" for="month_10">十月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="month_11" name="month[]" value="11">
      <label class="custom-control-label" for="month_11">十一月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="month_12" name="month[]" value="12">
      <label class="custom-control-label" for="month_12">十二月</label>
    </div>
  </div>
</div>
<div class="form-group row pt-1 pb-1">
  <label class="col-3 col-md-2 col-form-label text-sm-left collapsible">類型</label>
  <div class="col-12 col-sm-7 col-lg-9 form-check content" id="category-content">
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="grocery" name="category[]" value="grocery">
      <label class="custom-control-label" for="grocery">家居物業</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="transpotation" name="category[]" value="transpotation">
      <label class="custom-control-label" for="transpotation">交通出行</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="entertainment" name="category[]" value="entertainment">
      <label class="custom-control-label" for="entertainment">休閒娛樂</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="food" name="category[]" value="food">
      <label class="custom-control-label" for="food">餐飲食品</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="others" name="category[]" value="others">
      <label class="custom-control-label" for="others">其他</label>
    </div>
  </div>
</div>